/* Have fun. This is your site. */

body {
  background: lightgray;
  background-image: url('images/background\ for\ site.webp');
  background-size: cover;
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}

#myLinks {
  /* Add your styles here */
  display: flex;
  justify-content: center;
}

#myLinks a{
  margin-right:2em;
  text-decoration: none;
}

ul{
  list-style-type: none;
}