/* Have fun. This is your site. */
html body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  overflow-x: hidden;
}

body {
  background: black;
  width: 100%;
  height: 100vh;
 
}

main{
  background-image: url('images/background\ for\ site.webp');
  background-size: cover; 
  background-position: center;  
  background-repeat: no-repeat; 
  overflow-x: none;
}

/* Text Animation */
section {
  height: 75svh;
  display: grid;
  place-content: center;
}

h2 {
  font-size: 20vw;
  color: white;
  text-align: center;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Button */

.btnctn{
  position:relative;
  display:flex;
  justify-content: center;
  z-index: 2;
 

}
.lnkbtn{
  position: relative;
  text-decoration: none;

}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.btn{
  background: linear-gradient(270deg, #ff7e5f, #feb47b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s; 
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn:hover {
  
  transform: scale(1.25); 
}
/* Link changes */

#myLinks {
  display: flex;
  justify-content: center;
  position:relative;
  z-index: 3;
  padding: 1em;
}

#myLinks a{
  margin-right:1em;
  text-decoration: none;
  text-align: center;
  color:white;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#myLinks a:hover{
  color: #d40fb3;
}
ul{
  list-style-type: none;
}

/* Mobile updates */

@media(max-width: 768px){

  main{
    background-image: url('images/background\ for\ site.webp');
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat; 
    overflow-x: none;
    position:absolute;
  }

  h2{
    font-size: 8.5em;
    margin:0;
    padding:0;
  }
  
  section {
    height: 65vh;
    display: grid;
    place-content: center;
  }

}
/* fonts used

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*/